<div class="appForm">
	<form action="/submitApp" method="POST">

	<div class="formLine">
		<label>Character Name:</label> 
		<input type="text" name="charName" required>
	</div>

	<div class="formLine">
		<label>Class:</label>
		<input type="text" name="class" required>
	</div>

	<div class="formLine">
		<label>Specialization:</label>
		<input type="text" name="spec" required>
	</div>

	<div class="formLine">
		<label>Armory URL:</label>
		<input type="text" name="url" required>
	</div>

	<div class="formLine">
		<label>Email Address (used to notify you of our decision)</label>
		<input type="text" name="email" required>
	</div>

	<input type="submit" value="Submit">

</div>