<div class="loginRegister">
<div class="innerDiv">
<form action="/loginPost" method="post">

	<div>
		<label>Username:</label>
		<input type="text" name="username" required>

	</div>

	<br>

	<div>
		<label>Password:</label>
		<input type="password" name="password" required>

	</div>

	<div class="submitButtonContainer">
		<input type="submit" value="Log In"/>

	</div>

</form>
</div>
</div>