<div class="loginRegister">
<div class="innerDiv">
<form action="/registerPost" method="POST">
	
	<div>
		<label>Create a Username:</label>
		<input type="text" name="username" required>
	</div>

	<br>

	<div>
		<label>Create a Password:</label>
		<input type="text" name="password" required>
	</div>

	<div class="submitButtonContainer">
		<input type="submit" value="Register">
	</div>
</form>
</div>
</div>