

<h2 id="thanks"> Thank you for your application. You will receive an email with our decision shortly. </h2>


<div class="appForm">
	<form action="/submitSuggestion" method="POST" id="suggestionForm">

	<div class="formLine">

		<label>If you have any feedback or suggestions for our site, please feel free to list them below!</label>
		<br>
		<br>
		<textarea rows="10" cols="50" name="suggestion" form="suggestionForm"></textarea>

	</div>

	<input type="submit" value="Submit">


</div>
